html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    background-color: #070A1B;
}

.header__nav{
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.header__cover{
    background-image: url(/images/back.png);
    background-repeat: no-repeat;
    min-height: calc(100vh - 100px);
    background-position: center;
    background-size: cover;
}

.header__menu{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 100px;
}

.social__media{
    display: flex;
    list-style: none;
    margin-left: 100px;
}

.medial__links{
    padding-left: 32px;
}

.links__img:hover{
    background-color: #C1A1D2;
    border-radius: 80px;
}

.logo{
    padding-left: 340px;
}

a{
    text-decoration: none;
    color: inherit;
}

.header__title{
    font-family: 'Corporate A';
    font-weight: 700;
    font-size: 72px;
    line-height: 86px;
    padding-top: 666px;
}

.header__cover{
    text-align: center;
}

.cover__text{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.icon{
    margin-top: -25px;
    margin-left: 900px;
}

.container{
    text-align: center;
    width: 1200px;
    margin-left: 250px;
}

.concept{
    margin-top: 146px;
    margin-bottom: 150px;
}

.second__container{
    width: 900px;
    margin: 0 auto;
    padding: 0 10px;
    margin-left: 660px;
}

.title{
    color: #F402A2;
    font-family: 'Corporate A';
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 25px;
}

.concept__text{
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 25px;
}

.premier{
    margin-bottom: 150px;
}

.prem__container{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.text__prem{
    line-height: 19px;
}

.prem__text1{
    padding-top: 25px;
}

.premier__btn{
    width: 570px;
    height: 50px;
    color: #F402A2;
    border: 1px solid #F402A2;
    background-color: transparent;
    margin-top: 25px;
}

.premier__btn:hover{
    color: #53A1CB;
    border: 1px solid #53A1CB;
    cursor: pointer;
}

.prem__text2{
    margin-top: 20px;
}

.photo__container{
    width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 150px;
}

.photo__btn{
    margin-top: 25px;
    width: 1200px;
    height: 50px;
    background-color: transparent;
    color: #F402A2;
    border: 1px solid #F402A2;
    display: flex;
    align-items: center;
    padding-left: 532px;
}

.photo__btn:hover{
    color: #53A1CB;
    border: 1px solid #53A1CB;
    cursor: pointer;
}

.photo__text{
    padding-left: 10px;
}

/* .svg path {
    stroke: inherit;
    stroke-width: inherit;
    fill: inherit;
} */

.photo__btn:hover path{
    stroke: #53A1CB;
    fill: #53A1CB;
}

.interior{
    margin-bottom: 100px;
}

.interior__container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 0 10px;
}

.text__interior{
    margin-top: 25px;
}

.img-text__interior{
    display: flex;
    margin-top: 100px;
}

.text-img__interior{
    width: 255px;
}

.img__text-photo{
    padding-left: 317px;
}

.slider__item{
    margin-left: 60px;
}

.slider{
    padding-bottom: 25px;
}

.arrow{
    z-index: 10;
    cursor: pointer;
    bottom: 0;
    position: absolute;
    left: 50%;
}

.arrow__left{
    transform: translate(-80px);
}

.arrow__right{
    transform: translate(30px);
}

.text__box{
    margin-top: 125px;
    display: flex;
    width: 570px;
    margin: 125px auto;
}

.text__left{
    margin-right: 60px;
}

.right__text{
    padding-top: 25px;
    width: 255px;
}

.left__text{
    padding-top: 25px;
    width: 255px;
}

.img__box{
    max-width: 100%;
}

.footer{
    height: 300px;
}

.footer__menu{
    display: flex;
    width: 1230px;
    margin-left: 360px;
}

.footer__link{
    padding-top: 130px;
}

.footer__logo{
    padding-left: 245px;
    padding-top: 120px;
}

.footer__social-media{
    display: flex;
    padding-top: 120px;
    list-style: none;
}

.footer__social{
    padding-left: 270px;
}

.footer__media-list{
    margin-left: 30px;
}

.footer-links__img:hover{
    background-color: #C1A1D2;
    border-radius: 80px;
}
